site_name: {{ site_name }}
site_description: {{ site_description }}
site_dir: site
theme:
  name: {{ theme_name }}
  language: {{ theme_language }}
  palette:
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: {{ theme_primary_color }}
    accent: {{ theme_accent_color }}
    toggle:
      icon: material/brightness-7
      name: Mudar para modo escuro
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: {{ theme_primary_color }}
    accent: {{ theme_accent_color }}
    toggle:
      icon: material/brightness-4
      name: Mudar para modo claro
  features:
  - navigation.instant
  - navigation.tracking
  - navigation.tabs
  - navigation.sections
  - navigation.indexes
  - navigation.top
  - search.highlight
  - search.share
  - content.code.copy
  - content.action.edit
  - content.action.view
plugins:
- search:
    lang: pt
- blog:
    blog_dir: {{ blog_dir }}
    blog_toc: true
    post_date_format: {{ post_date_format }}
    post_url_date_format: {{ post_url_date_format }}
    post_url_format: '{{ post_url_format }}'
    pagination_per_page: {{ posts_per_page }}
    categories_allowed:
    - daily
    - artificial-intelligence
    - philosophy
    - meetup
    - emergency
    - culture
    - psychology
    - neuroscience
    - open-source
    - social-engineering
- tags
- minify:
    minify_html: true
nav:
- Home: index.md
- {{ blog_nav_title }}: {{ blog_dir }}/index.md
- {{ profiles_nav_title }}: profiles/index.md
- {{ about_nav_title }}: about.md
markdown_extensions:
- abbr
- admonition
- attr_list
- def_list
- footnotes
- md_in_html
- toc:
    permalink: true
- pymdownx.arithmatex:
    generic: true
- pymdownx.betterem:
    smart_enable: all
- pymdownx.caret
- pymdownx.details
- pymdownx.emoji:
    emoji_index: !!python/name:material.extensions.emoji.twemoji
    emoji_generator: !!python/name:material.extensions.emoji.to_svg
- pymdownx.highlight:
    anchor_linenums: true
    line_spans: __span
    pygments_lang_class: true
- pymdownx.inlinehilite
- pymdownx.keys
- pymdownx.mark
- pymdownx.smartsymbols
- pymdownx.superfences:
    custom_fences:
    - name: mermaid
      class: mermaid
      format: !!python/name:pymdownx.superfences.fence_code_format
- pymdownx.tabbed:
    alternate_style: true
    combine_header_slug: true
- pymdownx.tasklist:
    custom_checkbox: true
- pymdownx.tilde
extra:
  generator: false
