# Egregora Blog Configuration Template
# This file is dynamically rendered for each generated site.
# It inherits all common settings from the shared base configuration.
!include: ../docs/_base.yml

site_name: {{ site_name }}
site_description: Collective consciousness journal - {{ site_name }}
site_url: {{ site_url | default("http://127.0.0.1:8000") }}
docs_dir: ../{{ docs_dir }}
site_dir: {{ site_dir | default("site") }}
copyright: Copyright &copy; {{ now.year }} {{ site_name }}

theme:
  custom_dir: ../overrides

plugins:
  - glightbox
  - blog:
      blog_dir: {{ blog_dir }}
      post_dir: .
      post_url_format: "{date}/{slug}"
      post_url_date_format: yyyy/MM/dd
      pagination_per_page: 10
      pagination_url_format: "page/{page}"
      pagination_format: "~2~"
      pagination_keep_content: true
      authors: true
      authors_file: ../docs/.authors.yml
      categories: true
      archive: true
      archive_name: Archive
      archive_date_format: yyyy
      archive_url_date_format: yyyy/MM
      draft: true
      draft_on_serve: true
      draft_if_future_date: true
  - rss:
      match_path: "{{ blog_dir }}/.*"
      date_from_meta:
        as_creation: date
        as_update: date
      categories:
        - categories
        - tags
      comments_path: "#__comments"
      use_material_blog: false
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
        remove_comments: true
      cache_safe: true

validation:
  absolute_links: relative_to_docs
  unrecognized_links: warn

nav:
  - Home: index.md
  - Blog:
      - Latest: {{ blog_dir }}/index.md
      - Tags & Topics: {{ blog_dir }}/tags.md
  - Media: {{ media_dir }}/index.md
  - About: about.md


# Egregora configuration lives in .egregora.toml at the site root
# (Separation allows supporting multiple rendering backends: MkDocs, Hugo, Astro, etc.)
extra:
  analytics:
    provider: google
    property: "__GOOGLE_ANALYTICS_KEY__"
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! Help us improve this page by
            <a href="{{ repo_url }}/issues/new?title=[Docs]" target="_blank">opening an issue</a>.
  # Disable MkDocs generator notice
  generator: false
  # Add social links to the footer for a more professional look.
  # These will only appear if the corresponding variables are set in the user's config.
  {% if github_user or twitter_handle or linkedin_user %}
  social:
    {% if github_user %}
    - icon: fontawesome/brands/github
      link: https://github.com/{{ github_user }}
    {% endif %}
    {% if twitter_handle %}
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/{{ twitter_handle }}
    {% endif %}
    {% if linkedin_user %}
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/{{ linkedin_user }}
    {% endif %}
  {% endif %}

# Custom CSS for improved UX
extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
