{% import "partials/languages/" ~ lang ~ ".html" as lang %}

<article class="md-post md-post--excerpt">
  <header class="md-post__header">
    <h1 class="md-post__title">
      <a href="{{ post.url | url }}" rel="bookmark" title="{{ post.title }}">
        {{ post.title }}
      </a>
    </h1>
    <div class="md-post__meta">
      {% if post.date %}
        <time datetime="{{ post.date.isoformat() }}" class="md-meta__date">
          {{ post.date.strftime(config.theme.date_format) }}
        </time>
      {% endif %}
      {% if post.meta.reading_time and post.meta.reading_time > 0 %}
        <span class="md-meta__reading-time">
          · {{ lang.t("reading_time") }}: {{ post.meta.reading_time }} min read
        </span>
      {% endif %}
    </div>
  </header>
  <div class="md-post__content">
    {{ post.excerpt }}
    <a href="{{ post.url | url }}" rel="bookmark" title="{{ post.title }}">
      {{ lang.t("read_more") }}
    </a>
  </div>
</article>
