[data-md-color-scheme="slate"] {
  --md-hue: 260;
}

.md-header {
  background: linear-gradient(to right, #4527a0, #7c4dff);
}

.md-hero {
  background: linear-gradient(135deg, #311b92, #6200ea);
  color: var(--md-white);
}

.md-typeset h1 {
  background: -webkit-linear-gradient(45deg, #7c4dff, #b388ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
