name: Auto Merge

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read

jobs:
  enable-auto-merge:
    name: enable-auto-merge
    runs-on: ubuntu-latest
    steps:
      - name: Dummy Auto-Merge Check
        # This check is required by branch protection rules.
        # It always passes for non-Renovate PRs.
        run: echo "Manual auto-merge check satisfied."
