name: Enable Auto Merge

on:
  pull_request:
  workflow_dispatch:

jobs:
  enable-auto-merge:
    name: Enable Auto Merge
    runs-on: ubuntu-latest
    steps:
      - name: Dummy Check
        run: echo "This is a dummy check to enable auto-merge"
        shell: bash
