name: enable-auto-merge

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR number'
        required: false
        default: ''

permissions:
  pull-requests: write
  contents: write

jobs:
  enable-auto-merge:
    name: enable-auto-merge
    runs-on: ubuntu-latest
    steps:
      - name: Enable Auto-merge
        run: echo "Auto-merge required check passed."
