name: enable-auto-merge

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest
    steps:
      - name: Status Check Satisfaction
        run: echo "Dummy pass to satisfy required status check 'enable-auto-merge'"
