name: enable-auto-merge

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  enable-auto-merge:
    name: enable-auto-merge
    runs-on: ubuntu-22.04
    if: always()
    steps:
      - name: Enable auto-merge
        shell: bash
        run: echo "Auto-merge step placeholder."
