name: enable-auto-merge

on:
  pull_request:
    types: [opened, reopened, ready_for_review]

permissions:
  contents: write
  pull-requests: write

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest
    steps:
      - name: Enable auto-merge
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh pr merge --auto --merge "${{ github.event.pull_request.html_url }}" || true
