name: enable-auto-merge

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  enable-auto-merge:
    name: enable-auto-merge
    runs-on: ubuntu-latest
    steps:
      - name: Enable auto-merge
        run: exit 0
